<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BookTracker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1 style="text-align: center;">{{title}}</h1>
        <div class="container">
            <form method="post">
            <div class="form-group">
              <label for="InputBookName">Book</label>
              <input class="form-control" type="text" name="InputBook_Name" id="InputBookName" placeholder="Enter book name" >
            </div>
            <div class="form-group">
                <label for="InputWriterName">Writer</label>
                <input class="form-control"  type="text" name="InputWrite_Name" id="InputWriterName" placeholder="Enter writer name">
            </div>
            <div class="form-group">
                <label for="InputGenreName">Genre</label>
                <input class="form-control" type="text" name="InputGenre_Name" id="InputGenreName" placeholder="Enter genre name">
            </div>
            <div class="form-group">
                <label for="InputRelease">Release</label>
                <input class="form-control" type="text" name="InputRelease_Name" id="InputRelease" placeholder="Enter release">
            </div>
            <div class="form-group">
                <label for="InputPageCount">Page Count</label>
                <input class="form-control" type="text" name="InputPages_Name" id="InputPageCount" placeholder="Enter number of pages name">
            </div>
            <div class="form-group">
                <label for="InputPublisherName">Publiser</label>
                <input class="form-control" type="text" name="InputPublisher_Name" id="InputPublisherName" placeholder="Enter publisher name">
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
    </body>
</html>